<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Include>[MarcaAutos.API*]*</Include>
          <Exclude>[MarcaAutos.API]*.Data.RemoveSeedDataFromModel*,[MarcaAutos.API]*.Data.Migrations.*,[MarcaAutos.API]*.Program*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
